/* CSS Document */

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  /* font-family: Verdana,Arial,Helvetica,sans-serif; */
  margin: 0 auto;
  padding: 0;
  width: 100%; 
}

form fieldset {
  clear: left;  
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  padding: .5em;        /* padding in fieldset support spotty in IE */
  margin: 1em 0 0 0;
}

form fieldset legend {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.875;
	padding: 0 3px 3px;
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 16em; 
	padding: 0; 
	margin: .5em 0 0; /* set top margin same as form input - textarea etc. elements, pixels work better for this */
  font-size: .9em;
	text-align: right; 
}

form label[for="package1"],form label[for="package2"],form label[for="package3"],form label[for="package4"]{
  /* font-family: Verdana,Arial,Helvetica,sans-serif; */
	text-align: left; 
	margin-right: 1%;
}
form label[for="package1"] strong,form label[for="package2"] strong,form label[for="package3"] strong,form label[for="package4"] strong {
  font-family: Oswald,Arial,Helvetica,sans-serif;
}
form label[for="package1"] { 
	width: 29%;
}
form label[for="package2"],form label[for="package3"],form label[for="package4"]{ 
	width: 22%;
}
form label[for="package4"]{ 
	margin-right: 0; 
}

form input, form textarea , form div.dummyspace{
	margin: .5em 0 0 .25em; /* set top margin same as form input - textarea etc. elements */
	display: block;  
	float: left; 
  font-size: .9em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

input[type="radio"], input[type="checkbox"] {
  margin-top:13px;margin-left:4px;
}

.entry-content form p {
  clear: both; 
  margin: 0; 
}

form br {
	clear:left;
}

form br + p {padding-top:27px; padding-top:1.6875rem;}

.hide {
	display:none;
}

#Total {
	position:fixed;
	z-index:100;
	top:12px;
  right: 5%;
  width: 12.5em;
  padding:6px;
	height: auto;
	background: #eee;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid; 
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
#Total p {font-size: .75em;}
#Amt {font-family: Oswald,Arial,Helvetica,sans-serif;font-weight: bold;font-size: .8em;}

#selClasses1 div.classtopics {
	display: block;
	float: left; 
	font-size: .7em;
	text-align: center;
	width: 21%;
	margin: .25em;
	background: #ccc;
}

/* Smaller Screens */
@media screen and (max-width: 760px) {
  form label[for="package1"], form label[for="package3"] { 
    width: 49%;
    margin: .5em 1% 0 0; 
  }
  form label[for="package2"], form label[for="package4"] { 
    width: 49%;
    margin: .5em 0 0 1%; 
  }
}
@media screen and (max-width: 600px) {
  form label {width:10em;font-size: .8em;}
}
@media screen and (max-width: 480px) {
  form label {width:6.5em; font-size: .8em;}
  form input, form textarea, form div.dummyspace {font-size: .8em;}
  form label[for="package1"], form label[for="package3"], form label[for="package2"], form label[for="package4"] { 
    width: 100%;
    margin: .5em 0 0 0; 
    float: none;
    font-size: .9em;
  }
  .entry-content form p {font-size: .9em;}
}
/* super-small & handhelds: max-width 320px  */
@media handheld, screen and (max-width: 320px), screen and (max-device-width: 320px) {
  body {
    width: auto;
    min-width: 0px;
  }
  form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
    margin: 0;
    width: auto; 
    min-width: 0px;
  }
  form label, form label[for="package1"],form label[for="package2"],form label[for="package3"],form label[for="package4"] { 
    margin:0;
    text-align: left;
  }
  #Total {
    width: 90%;
    overflow: auto;
  }
}