/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
/* Responsive images */
.entry-content img, .comment-content img, .widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full, img.size-large, img.header-image, img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
	font-size: 100%;
}
body {
	font-size: 16px;
	font-size: 1rem;
	font-family: Georgia, Times, "Times New Roman", serif; 
	text-rendering: optimizeLegibility;
	color:#000;
}
a {
	outline: none;
	color: #21759b;
}
a:hover {
	color: #0f3647;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 14px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}


/* Page structure */
.site {
	padding: 0 27px;
	padding: 0 1.6875rem;
	background-color: #fff;
}
.site-content {
	margin: 27px 0 0;
	margin: 1.6875rem 0 0;
}

/* Header */
.site-header {
	padding: 27px 0;
	padding: 1.6875rem 0;
}
.site-header h1,
.site-header h2 {
	text-align: center;
}
.site-header h1 a,
.site-header h2 a {
	color: #515151;
	display: inline-block;
	text-decoration: none;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
	color: #21759b;
}
.site-header h1 {
	font-size: 27px;
	font-size: 1.6875rem;
	line-height: 1.3125;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.site-header h2 {
	font-weight: normal;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.875;
	color: #757575;
}
.header-image {
	margin-top: 27px;
	margin-top: 1.6875rem;
}

/* Navigation Menu */
.main-navigation {
	margin-top: 27px;
	margin-top: 1.6875rem;
	text-align: center;
}
.main-navigation li {
	margin-top: 27px;
	margin-top: 1.6875rem;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3rem;
}

/* Footer */
footer[role="contentinfo"] {
	border-top: 1px solid #ededed;
	clear: both;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 2;
	max-width: 960px;
	max-width: 60rem;
	margin-top: 27px;
	margin-top: 1.6875rem;
	margin-left: auto;
	margin-right: auto;
	padding: 27px 0;
	padding: 1.6875rem 0;
}
footer[role="contentinfo"] a {
	color: #686868;
}
footer[role="contentinfo"] a:hover {
	color: #21759b;
}

/* =Main content
-------------------------------------------------------------- */

.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 27px;
	margin-bottom: 1.6875rem;
}
.entry-header img.wp-post-image {
	margin-bottom: 27px;
	margin-bottom: 1.6875rem;
}
.entry-header .entry-title {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.2;
	font-weight: normal;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 27px;
	margin-top: 1.6875rem;
	font-weight: normal;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.6875;
}
.entry-content h1,

.entry-content h2,

.entry-content h3,

.entry-content h4,

.entry-content h5,

.entry-content h6 {
	margin: 27px 0;
	margin: 1.6875rem 0;
	line-height: 1.6875;
}
.entry-content h1 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,

.mu_register h2 {
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: 1.6;
}
.entry-content h3 {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.875;
}
.entry-content h4 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.875;
}
.entry-content h5 {
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.875;
}
.entry-content h6 {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.875;
}
.entry-content p,
.entry-summary p,
.mu_register p {
	margin: 0 0 27px;
	margin: 0 0 1.6875rem;
	line-height: 1.6875;
}
.entry-content a:visited {
	color: #9f9f9f;
}
.entry-content ol,

.entry-content ul,

.mu_register ul {
	margin: 0 0 27px;
	margin: 0 0 1.6875rem;
	line-height: 1.6875;
}
.entry-content ul ul,

.entry-content ol ol,

.entry-content ul ol,

.entry-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,

.mu_register ul {
	list-style: disc outside;
}
.entry-content ol {
	list-style: decimal outside;
}
.entry-content li,

.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.25rem;
}
.entry-content blockquote {
	margin-bottom: 27px;
	margin-bottom: 1.6875rem;
	padding: 27px;
	padding: 1.6875rem;
	font-style: italic;
}
.entry-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 2;
}
.entry-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.6875;
	margin: 27px 0;
	margin: 1.6875rem 0;
	overflow: auto;
	padding: 27px;
	padding: 1.6875rem;
}
.entry-content pre code {
	display: block;
}
.entry-content abbr,
.entry-content dfn,
.entry-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address {
	display: block;
	line-height: 1.6875;
	margin: 0 0 27px;
	margin: 0 0 1.6875rem;
}
img.alignleft,
.wp-caption.alignleft {
	margin: 12px 27px 12px 0;
	margin: 0.875rem 1.6875rem 0.875rem 0;
}
img.alignright,
.wp-caption.alignright {
	margin: 12px 0 12px 27px;
	margin: 0.875rem 0 0.875rem 1.6875rem;
}
img.aligncenter,
.wp-caption.aligncenter {
	clear: both;
	margin-top: 12px;
	margin-top: 0.875rem;
	margin-bottom: 12px;
	margin-bottom: 0.875rem;
}
.entry-content dl {
	margin: 0 27px;
	margin: 0 1.6875rem;
}
.entry-content dt {
	font-weight: bold;
	line-height: 1.6875;
}
.entry-content dd {
	line-height: 1.6875;
	margin-bottom: 27px;
	margin-bottom: 1.6875rem;
}
.entry-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 2;
	margin: 0 0 27px;
	margin: 0 0 1.6875rem;
	width: 100%;
}
.entry-content table caption {
	font-size: 18px;
	font-size: 1.125rem;
	margin: 27px 0;
	margin: 1.6875rem 0;
}
.entry-content td {
	border-top: 1px solid #ededed;
	padding: 6px 11px 6px 0;
}
.site-content article {
	border-bottom: 4px double #ededed;
	margin-bottom: 72px;
	margin-bottom: 4.5rem;
	padding-bottom: 27px;
	padding-bottom: 1.6875rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.6875;
}
footer.entry-meta {
	margin-top: 27px;
	margin-top: 1.6875rem;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.875;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.5rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 auto;
		max-width: 960px;
		max-width: 60rem;
		overflow: hidden;
	}
	.site-content {
		float: left;
		width: 65.104166667%;
	}
	body.template-front-page .site-content,
	body.attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}
	.widget-area {
		float: right;
		width: 26.041666667%;
	}
	.site-header h1,
	.site-header h2 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 30px;
		font-size: 1.875rem;
		line-height: 1.875;
		margin-bottom: 0;
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		border-bottom: 1px solid #ededed;
		border-top: 1px solid #ededed;
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #6a6a6a;
		line-height: 3.692307692;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation li a:hover {
		color: #000;
	}
	.main-navigation li {
		margin: 0 40px 0 0;
		margin: 0 2.5rem 0 0;
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 15px;
		font-size: 0.8125rem;
		line-height: 2.181818182;
		padding: 8px 11px;
		padding: 0.5rem 0.6875rem;
		width: 180px;
		width: 11.25rem;
		white-space: normal;
	}
	.main-navigation li ul li a:hover {
		background: #e3e3e3;
		color: #444;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #636363;
		font-weight: bold;
	}
	.menu-toggle {
		display: none;
	}
	.entry-header .entry-title {
		font-size: 25px;
		font-size: 1.5625rem;
	}
	#respond form input[type="text"] {
		width: 46.333333333%;
	}
	#respond form textarea.blog-textarea {
		width: 79.666666667%;
	}
	.template-front-page .site-content,
	.template-front-page article {
		overflow: hidden;
	}
	.template-front-page.has-post-thumbnail article {
		float: left;
		width: 47.916666667%;
	}
	.entry-page-image {
		float: right;
		margin-bottom: 0;
		width: 47.916666667%;
	}
	.template-front-page .widget-area .widget,
	.template-front-page.two-sidebars .widget-area .front-widgets {
		float: left;
		width: 51.875%;
		margin-bottom: 27px;
		margin-bottom: 1.6875rem;
	}
	.template-front-page .widget-area .widget:nth-child(odd) {
		clear: right;
	}
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
		float: right;
		width: 39.0625%;
		margin: 0 0 27px;
		margin: 0 0 1.6875rem;
	}
	.template-front-page.two-sidebars .widget,
	.template-front-page.two-sidebars .widget:nth-child(even) {
		float: none;
		width: auto;
	}
	.commentlist .children {
		margin-left: 48px;
		margin-left: 3rem;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
		background-color: #e6e6e6;
	}
	body .site {
		padding: 0 40px;
		padding: 0 2.5rem;
		margin-top: 48px;
		margin-top: 3rem;
		margin-bottom: 48px;
		margin-bottom: 3rem;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}
	body.custom-background-empty {
		background-color: #fff;
	}
	body.custom-background-empty .site,
	body.custom-background-white .site {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
}


/* =Theme customization starts here
 * 
 * First, override font styles.
-------------------------------------------------------------- */

body { font-family: Georgia, Times, "Times New Roman", serif; color:#000; } 
b,strong { font-weight: bold; }
h1,h2,h3,h4,h5,h6,legend, #masthead, .headingesque { font-family: Oswald, sans-serif; font-weight: 300; }
h1 b, h2 b,h3 b, h4 b, h5 b, h6 b, #masthead b, .headingesque b,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, 
#masthead strong, .headingesque strong, { font-weight: 400; }

h1.site-title { font-size: 4em; }
.site-header h1 a, .site-header h1 a:hover, .site-header h1 a:focus, .site-header h1 a:visited, .site-header h1 a:active { color: #515151; }
h2.site-description { font-size: 1.5em; line-height: 1em; letter-spacing: 1px; font-weight: 300; }
#menu-item-174 a { color: #be2025; font-weight: 400; }

.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a, .main-navigation .current_page_item > a, .main-navigation .current_page_ancestor > a 
{ font-weight: 300; }

.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul 
{ text-align: right; }

.main-navigation .sub-menu { text-align: left; }

.entry-header .entry-title { text-align: center; }

.entry-content table, .comment-content table {
	border-bottom: 1px solid #ededed;
	color: #000;
	font-size: 14px;
	font-size: 1rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-family: Oswald, sans-serif; font-weight: 400;
	text-transform: uppercase;
	color: #636363;
}

.entry-content th {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

/* =Layout Overrides
-------------------------------------------------------------- */
.site-header { padding:0; }
.home #primary, .home .entry-header, .home .entry-meta,
 .widget-area .widget h3, .template-front-page .widget-area .widget li
{ margin:0; }
#colophon { margin-top: 12px; }
#main { margin-top: 12px; margin-bottom: 12px; }
.carousel.slide {border-bottom:1px solid #ededed}
.home article {padding-bottom: 0;}

img.djbios { width: 206px; height: auto; }
img.teacherbios { width: 412px; height: auto; }
img.djbios, img.teacherbios { max-width: 100%; };

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.template-front-page .widget-area .widget,
	.template-front-page.two-sidebars .widget-area .front-widgets {
		width: 45.46875%;
		margin-bottom: 0px;
	}
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
		width: 45.46875%;
		margin: 0;
	}
}

/* Minimum width of 740 pixels. */
@media screen and (min-width: 740px) {
	.entry-content th { white-space:nowrap; }
}

/* Maximum width of 800 pixels. */
@media screen and (max-width: 800px) {
  h1.site-title { font-size: 2.75em; }
  h2.site-description { font-size: 1.25em; }
}
/* Maximum width of 565 pixels. */
@media screen and (max-width: 565px) {
  h1.site-title { font-size: 2em; }
  h2.site-description { font-size: 1em; }
}
/* super-small & handhelds: max-width 320px 
@media handheld, only screen and (max-width: 320px), only screen and (max-device-width: 320px) {

}
 */

/* =Custom Styles
-------------------------------------------------------------- */
.red { color: #be2025; }

ul.headingesque.listbar { margin: 0 auto; padding: 0; display: block; overflow: auto; list-style-type: none; }
ul.headingesque.listbar li { display: inline-block; margin: 0 9px; font-size: 1.2em; padding: 3px; }